
 /**********************************

            Global

 ***********************************/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{    
    margin:0;
    width:100%;
    font-family: 'Poppins', sans-serif;

}


button{
    padding:10px 24px;
    background: #E02C6D;
    color:#ffffff;
    border:none;
}

p{
    color:  #6C6C6C;
    font-size:16px;
    font-weight:400;
}


/********************************************

                Header-Portion

***********************************************/

Header{
    width:100%;
    background-color:#2D25A0;
    /* height:500px; */
}

nav{
    width:85%;
    margin-left:80px;
    padding:10px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

nav ul{
    list-style:none;
    display:flex;
    
}

nav li a{
    text-decoration:none;
    color:#ffffff;
    padding:1px 15px;
    font-size:14px;
    font-weight:500;
}

.header-content{
    display:flex;
    overflow:hidden;
}

.header-content-info{
    width:30%;
    margin-left:150px;
    margin-top:70px;
}
.header-content-info h1{
    color:#ffffff;
    font-size:48px;
    font-weight:700;
    margin:0;
}

.header-content-image{
    width:50%;
    padding-bottom:20px;
    position:retive;
    overflow:hidden;
}

.header-content-image img{
    width:80%;
    margin-left:100px;
}


.header-content:hover .header-content-image{
    transform:scale(1.1) rotate(5deg);
    transition: transform 2s ease-in-out;
}


 /***********************************************************
 
                    Cart-Portion
 
 *************************************************************/



.cart{
    width:900px;
    margin:30px 200px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:20px;
}

.player-cart{
    width:260px;
    padding:10px;
    box-shadow:0 0 10px #d3d3d3;
}

.player h2{
    font-size:28px;
    margin:0;
    color:#18191F;
}

.player img{
    width:100%;
}

/***********************************************************

                  Highlights-Portion

*************************************************************/

.highlights{
    display:flex;
}

.highlights-content{
    width:45%;
    margin-left:30px;
    display:flex;
    justify-content:center;
    align-items:center;    
}

.info{
    width:70%;
    margin-left:150px;
}

.info h1{
    font-size:36px;
    margin:0;
}

.match-day{
    width:45%;
    margin-left:20px;
}

.match-day img{
    width:90%;
}


/*************************************************  

                    Update-portion

***************************************************/


.update-portion{
    width:72%;
    margin:40px 0;
    margin-left:185px;
    padding:10px;
    display:flex;
    justify-content:center;
    box-shadow:0 0 10px #d3d3d3;
}


.fixture,
.news,
.archive{
    width:20%;
    margin:10px;
}

.fixture{
    border:1px soild #d3d3d3;
}

.fixture:hover{
    color:#00a9ce;
    box-shadow:0 0 1px #00a9ce;
}

.news{
    background:#00a9ce;
    color:#ffffff;
}

.archive{
    background:#ffffff;
    color:#000000;
    border:1px solid #d3d3d3;
}

.archive:hover{
    background:#000000;
    color:#ffffff;
}

.fixture h3,
.news h3,
.archive h3{
    text-align:center;
    padding:5px 10px;
}

/*****************************************************************  

                          Live-Portion

********************************************************************/

.live-telecast{ 
    width:65%;;
    margin: 40px 0 40px 250px;
    display:flex;
    position:relative;
    overflow:hidden;
}

.live-telecast-image{
    width:70%;
    position:relative;
    overflow:hidden;
}

.live-telecast-image img{
    width:100%;
    transition: all .95s;
}

.live-telecast-button{
    width:25%;
    background:#00a9ce;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.telecast-button{
    margin:20px 0;
}

.telecast-button:hover{
    background:#000000;
    color:#00a9ce;
}

.live-telecast:hover .live-telecast-image img{
    transform: scale(1.2);
}

/****************************************************************** 

                           Footer-Portion

*******************************************************************/


footer{
    display:flex;
   align-items:center;
}

.footer{
    margin:40px  400px;
    width:30%;
    text-align:center;
}

.logo img{
    width:70%;
}


.icon-tray{
    margin:20px 0;
}

.icon-body{
    padding:5px;
    border-radius:50%;
    background: #969BAB;
    opacity:.3;
    margin:2px;

}

.footer h6{
    font-size:16px;
}


/*********************************************************************

                    Mobile Devices 

**********************************************************************/


@media only screen and (max-width:688px){


    /****************************** 
    
        Header-Portion & Hightlights-portion
    
    ******************************/

    nav, 
    nav ul,
    .header-content,
    .header-content-image,
    .highlights,
    .match-day,
    footer
    {
        width:100%;
        display:flex;
        flex-direction:column;
        text-align:center;
        align-items:center;
    }

    nav{
        margin-left:0;
    }

    nav ul{
        padding-left:0;
    }

    .header-content-info{
        margin-left:0;
        display:flex;
        flex-direction:column;
        align-items:center;
        margin-bottom:25px;
    }

    .header-content-info h1{
        font-size:36px;
    }

    .header-content-image img,
    .match-day img
    {
        width:100%;
    }

    .header-content-image img{
        margin-left:0;
    }


    /************************************  
    
            Cart-Portion
    
    **************************************/

    .cart{
        width:100%;
        margin: 15px 0;
        display:grid;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap:10px;
    }

    .player-cart{
        width:95%;
    }

    .player img{
        width:100%;
    }

    /*************************************  
    
            Highlights-Portion
    
    **************************************/

    .info{
        margin-left:0;
        margin-bottom:20px;
    }



    /*************************************  
    
            Update-Portion
    
    ***************************************/

    .update-portion{
        display:flex;
        flex-direction:column;
        align-items:center;
        margin-left:0;
        width:90%;
    }

    .fixture,
    .news,
    .archive{
    width:70%;
    margin:10px;
    }

    .fixture{
        border:1px soild #d3d3d3;
    }
    
    .fixture:hover{
        color:#00a9ce;
        box-shadow:0 0 1px #00a9ce;
    }
    
    .news{
        background:#00a9ce;
        color:#ffffff;
    }
    
    .archive{
        background:#ffffff;
        color:#000000;
        border:1px solid #d3d3d3;
    }
    
    .archive:hover{
        background:#000000;
        color:#ffffff;
    }


    /****************************  
    
            Live-portion
    
    *****************************/


    .live-telecast{ 
        display:flex;
        width:100%;
        flex-direction:column;
        margin-left:0;
    }

    .live-telecast-image{
        width:100%;
    }

    .live-telecast-image img{
        width:100%;
    }

    .live-telecast-button{
        width:100%;
        background:#00a9ce;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }


    /*****************************  
    
            Footer-Portion
    
    ******************************/

    .footer{
        width:50%;
    }

    .logo img{
        width:100%;
        text-align:center;
    }



}



@media only screen and (max-width:900px){

}